body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  //background: rgb(139, 32, 32);
  width: 100%;
  height: auto;
  z-index:50;
}
  .window {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 1;
    background: rgba(105, 76, 76, 0);
    //backdrop-filter: blur(8px);
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    //box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index:10;
  }
  
  /* Высокие секции для скролла, с увеличенным расстоянием */
  .section {
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //margin-bottom: 80px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    z-index: 30;
    background-image: url('https://raw.githubusercontent.com/Heritager-tech/Public_data/main/Презентационные%20материалы/Фон3.png');
    background-attachment: fixed;
    background-size: contain;
    //background-size: auto;
    //background: rgba(255, 255, 255, 0);
  }
  
  /* Окна с прозрачным эффектом */

  
  /* Позиционирование по сторонам */
  .section .window.left {
    position: absolute;
    left: 5%;
    top: 40%;
    z-index:20;
    clip-path: polygon(
    21.5% 0%,     /* верх левый */
    100% 0%,     /* верх правый */
    100% 100%,  /* правый бок */
    150% 150%,  /* низ правый */
    35.4% 100%,  /* низ левый */
    0% 38%     /* левый бок */
    );
    transform: rotate(-10deg);
    transform-origin: center;
    
    //transform: translateY(-50%);
  }
  
  
  @keyframes ani {
    0% {transform: translateX(+100%);}
    100% {transform: translateY(0%);}
  
  }
  .section .window.right {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease;
    right: 5%;
    top: 50%;

  }
  
  .section .window.right.visible {
    opacity: 1;
  }
  
  
  
  .section .window.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .svg-border-container {
        position: absolute;
        top: 0%;
        left: -1%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
      }

  .svg-border-container2 {
        position: absolute;
        top: -16.8%;
        left: -17.5%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 500;
      }
  
  
  /* Контейнер для параллакса */
  .parallax-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    transform-origin: center; 

    

    mask-image: url('https://raw.githubusercontent.com/Heritager-tech/Public_data/main/Презентационные%20материалы/Пазл.svg');
    mask-size: 90%;
    mask-repeat: no-repeat;
     -webkit-mask-image: url('https://raw.githubusercontent.com/Heritager-tech/Public_data/main/Презентационные%20материалы/Пазл.svg');
    -webkit-mask-size: 90%;
    -webkit-mask-repeat: no-repeat;
    
    //filter: url(#mask-border) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));;
  
  }


  .parralax-background {
    position: absolute;
    top: -10%;
    left: 0;
    width: 110%;
    height: 110%;
    background-position: center;
    background-size: cover;
    will-change: transform;
    z-index: 2;
  }
  
  /* Слои для параллакса */
  #special-window .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;
    //z-index: 1;
  }

  #special-window .layer:nth-child(1) {
    left: 0%;
    top: 0%;
    z-index:50;
  }
  
  #special-window .layer:nth-child(2) {
    left: 5%;
    top: 5%;
    z-index: 70;
  }
  
  #special-window .layer:nth-child(3) {
    left: 10%;
    top: 10%;
    z-index:100;
    //pointer-events: none; 
    //position: sticky;

  
  }
  #special-window .layer:nth-child(4) {
    left: 10%;
    top: 10%;
    z-index:140;
    }
  #special-window .layer:nth-child(5) {
    left: 20%;
    top: 20%;
    z-index:200;
    }
  
  /* Слои для второго набора слоев */
  #special-window .layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 55%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;
    z-index: 1;
  }
  
  #special-window .layer2:nth-child(1) {
    left: 2%;
    top: 2%;
  }
  
  #special-window .layer2:nth-child(2) {
    left: 30%;
    top: 30%;
  }
  
  #special-window .layer2:nth-child(3) {
    left: 45%;
    top: 60%;
    width: 60%;
    height: 50%;
  }
  


  #special-window .layer3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    will-change: transform;
    z-index: 2;
  }


  /* Самое изображение для параллакса */

  
  /* Новый слой фона */
  /*.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/Heritager-tech/Public_data/main/Презентационные%20материалы/Фон.png');
    //background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    z-index: 1;
  }*/
  
