body {
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  /* Высокие секции для скролла, с увеличенным расстоянием */
  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    position: relative;
  }
  
  /* Окна с прозрачным эффектом */
  .window {
    width: 90%;
    max-width: 700px;
    aspect-ratio: 1.618;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
  
  /* Позиционирование по сторонам */
  .section .window.left {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  @keyframes ani {
    0% {transform: translateX(+100%);}
    100% {transform: translateY(0%);}
  
  }
  .section .window.right {
    position: absolute;
    opacity: 0;
    transition: opacity 3s ease;
    right: 5%;
    top: 50%;
  }
  
  .section .window.right.visible {
    opacity: 1;
  }
  
  
  
  .section .window.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
  /* Контейнер для параллакса */
  .parallax-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    background-color: white;
    border: 4px solid #AC7B19;
  }
  
  /* Слои для параллакса */
  #special-window .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 55%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;
    z-index: 1;
  }
  #special-window .layer:nth-child(1) {
    left: 0%;
    top: -50%;
    width: 100%;
    height: 170%;
  }
  #special-window .layer:nth-child(2) {
    left: -5%;
    top: -15%;
  }
  
  #special-window .layer:nth-child(3) {
    left: 10%;
    top: 10%;
  }
  
  #special-window .layer:nth-child(4) {
    left: 20%;
    top: 20%;
  }
  
  
  /* Слои для второго набора слоев */
  #special-window .layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 55%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;
    z-index: 1;
  }
  
  #special-window .layer2:nth-child(1) {
    left: 2%;
    top: 2%;
  }
  
  #special-window .layer2:nth-child(2) {
    left: 30%;
    top: 30%;
  }
  
  #special-window .layer2:nth-child(3) {
    left: 45%;
    top: 60%;
    width: 60%;
    height: 50%;
  }
  
  /* Самое изображение для параллакса */
  #special-window .parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    will-change: transform;
    z-index: 2;
  }
  
  /* Новый слой фона */
  /*.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/Heritager-tech/Public_data/main/Презентационные%20материалы/Обложка.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    z-index: 0;
  }*/
  